<h1>MOVIESSSS</h1>

<h2><%= @movie.title%></h2>
<h3><%= @movie.year%></h3>
<h3><%= @movie.plot%></h3>
<h3><%= @movie.director%></h3>
<label>Whats your fav movie?
  <input type="text" id="user" name="name" />
  <input type="submit">
</label>